{{#paper-card}}
  {{#paper-card-content}}
    <div class="order-card_header">
      {{paper-icon icon="photo-camera"}}
      <span class="spacer"/>
      <h2>{{model.name}}</h2>
    </div>
    {{paper-divider}}
      <div class="order-card_order-item-row col">
        <p class="order-card_order-item-row-name">ISO: {{model.iso}}</p>
        <p class="order-card_order-item-row-name">Shutter: {{model.shutterspeed}}</p>
        <p class="order-card_order-item-row-name">Aperture: {{model.aperture}}</p>
      </div>
  {{/paper-card-content}}
{{/paper-card}}